.filter {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media screen and (max-width: 415px){
  .container-filter {
    height: 150px;
  }

  .filter {
    height: 150px;
    flex-wrap: wrap;
  }

  .switch {
    padding: 5px;
  }
}
