.main-shedule {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 0;
  background-color: #C5E9FF;
  box-shadow: 0px 4px 10px #a8a7a7;
  width: 100%;

  button{
    width: 100px;
    height: 45px;
    margin-right: 7%;
    text-transform: none;
  }
}

.MuiFormControl-root {
  width: 180px;
}

.title {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.data-input {
  width: 100%;
  display: flex;
  height: 104px;
  background-color: #C5E9FF;
  box-shadow: 0px 4px 10px #a8a7a7;
  margin-top: 1%;
  align-items: center;
  justify-content: space-evenly;

  .add.MuiButton-contained {
    width: 100px;
    height: 45px;
    text-transform: none;
  }
}

.container-shedule {
  width: 98%;
  overflow: scroll;

  .table {
    min-width: 1200px;
    overflow-x: scroll;
  }
}

.headlines {
  width: 100%;
  height: 60px;
  margin-top: 1%;
  background-color: #C4C4C4;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  p {
    width: 21.4%;
    text-align: center;
  }
}

.container-info {
  border: 1px solid black;
  overflow: overlay;
  max-height: 470px;
}

::-webkit-scrollbar {
  opacity: 0;
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  background-color: white;

  .info-data {
    width: 21%;
    text-align: center;
    border-right: 1px solid black;
    margin: 0;
    padding: 27px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .container-button {
    width: 16%;
    display: flex;
    justify-content: space-evenly;

    img {
      width: 40px;
      height: 40px;
    }

    img:hover {
      -webkit-filter: drop-shadow(3px 5px 5px #000);
      filter: drop-shadow(3px 5px 5px #000);
      cursor: pointer;
    }
  }
}

.container-sort {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}

.container-filter {
  width: 95%;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  align-items: center;

  .switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
  }
}

@media screen and (max-width: 870px) {
  .data-input {
    height: 200px;
    flex-wrap: wrap;
  }

  .head button {
    width: 80px;
    height: 30px;
  }

  .data-input .add.MuiButton-contained {
    width: 80px;
    height: 30px;
  }

  .title {
    width: 200px;
    align-items: center;
  }

  img {
    width: 60px;
    height: 60px;
  }

  .sort {
    padding: 5px;
  }
}